.card {
  position: absolute;
  width: 150px;
  height: 70px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  display: flex;
  cursor: grab;
  justify-content: center;
  align-items: center;
}

.card-remove {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  padding: 1px;
  background-color: rgba(240, 240, 240, 0.5);
}

.card-remove:hover {
  background-color: #eee;
}

.field {
  border: 2px solid #e9e9ea;
  border-radius: 5px;
  box-shadow: 4px 4px 4px lightgrey;
}

.dim-inputs {
  padding-top: 45px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-right: 5px;
}

.card-small {
  width: 75px;
  height: 75px;
  border-radius: 5px;
  background-color: red;
}

.card-medium {
  width: 100px;
  height: 75px;
  border-radius: 5px;
  background-color: green;
}

.card-big {
  width: 125px;
  height: 100px;
  border-radius: 5px;
  background-color: blue;
}

.field-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.buttons-container-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
