.loading {
  display: flex !important;
  padding: 50px !important;
  justify-content: center !important;
  align-items: center !important;
  min-height: calc(100vh - 200px);
}

.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading .ant-spin {
  color: #3e79f7;
}

.d-flex-row {
  display: flex !important;
  flex-direction: row !important;
  gap: 10px !important;
  padding: 10px 0 !important;
}

.ant-select-arrow {
  padding-top: 8px;
}

.ant-table-cell,
.ant-table-thead {
  padding: 8px 4px !important;
}

.ant-btn {
  min-width: 40px;
}
